body{
  background-image: url(imagens/wallpaper005.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 97vh;
}

div.container{
  margin: auto;
}

div.quadrado{
  display: none;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgray;
  height: 200px;
  margin: 10px;
  background-image: url(imagens/wallpaper003.jpg);
}

div#q1{
  background-position: left top;
}

div#q2{
  background-position: left center;
}

div#q3{
  background-position: right bottom;
}

div#q4{
  background-position: center center;
}
