body{
  background-image: url(imagens/wallpaper002.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 97vh;
  background-size: cover;
}

div.container{
  width: 90%;
  margin: auto;
  height: auto;
  padding: 10px;
  background-color: rgb(255, 251, 245);
  border-radius: 10px;
  border: 2px solid black;
}

div.container h1{
  text-align: center;
}

div.container p{
  text-align: justify;
}