@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: clamp(16px, normal, 24px);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.div-center{
  margin: auto;
  min-width: 320px;
  max-width: 1000px;
}

.tabela{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 238, 216);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.26);
  margin-bottom: 20px;
  margin: 20px;
  padding: 20px;
}

table caption{
  background-color: lightgray;
  padding: 10px;
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: bolder;
  border: 1px solid black;
}

td, th {
  padding: 10px;
  border: 1px solid black;
}

#tab3 thead{
  position: sticky;
  top: -1px;
  background-color: rgb(226, 226, 226);
}

table{
  width: 100%;
  border-collapse: collapse;
}

th, td{
  padding: 5px;
}

#tab3 tr:nth-child(even){
  background-color: rgba(0, 0, 0, 0.075);
}

#tab2 table{
  width: 300px;
  height: 300px;
}

#tab2 td{
  text-align: left;
  vertical-align: top;
}

#tab3 td{
  text-align: left;
  vertical-align: top;
}

td#num {
  text-align: right;
}

tfoot{
  background-color: rgba(0, 0, 0, 0.253);
}

tfoot th{
  border-bottom: 1px solid black;
}

#tab4 table{
  width: 30%;
}

#tab4 td{
  text-align: center;
}

#desafio13{
  flex-direction: column;
  align-items: center;
}

#desafio13 h2{
  margin-bottom: 30px;
}

#desafio13 table{
  margin-bottom: 30px;
  width: 100% !important;
  table-layout: auto !important;
  max-width: 100% !important;
  border-collapse: collapse;
}

#desafio13 td{
  text-align: center;
}

#desafio13 > table td{
  background-color: rgb(240, 240, 240);
  text-align: left;
}

#desafio13 > table th{
  text-align: center;
  background-color: lightgray;
}

#desafio14 table{
  width: 500px;
}

#desafio14 table, #desafio14 thead{
  background-color: rgb(240, 240, 240);
}

#desafio14 th, #desafio14 td{
  border: 2px solid black;
}

#desafio14 th#title{
  background-color: rgb(110, 110, 110);
  color: white;
}

#desafio14 th#title-left{
  background-color: rgb(110, 110, 110);
  text-align: left;
  color: white;
}

#desafio14 th#data-left{
  text-align: left;
}

#desafio14 td#med{
  font-weight: bolder;
  background-color: rgb(110, 110, 110);
  color: white;
}

#tab5 table{
  width: 60%;
}

#tab5 table tr:nth-child(even){
  background-color: rgba(0, 0, 0, 0.041);
}